.card {
  height: 100%;
}

.card-header h2 {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
}

.card-text {
  text-align: left;
  padding: 5px 15px;
  font-size: 1.6rem;
  letter-spacing: 0.6px;
}

.card-text i {
  margin-right: 10px;
}

.skillSquare {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 15px;
  border: 1px solid black;
  overflow: hidden;
}

.skillName {
  font-size: 3rem;
}

.skillIcon {
  position: absolute;
  bottom: -15%;
  right: -15%;
  font-size: 12rem;
}
