nav {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 30px;
    background-color: var(--secondary-colour);
    z-index: 100;
}

.brandLink:hover {
    text-decoration: none;
}

.brandName {
    font-size: 4.5rem;
    margin: 0 20px 0 0;
    color: var(--primary-colour);
}

button:focus {
    outline: none;
}

.menuContainer {
    position: absolute;
    top: -200%;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(65, 82, 111, 0.9);
    transition: 0.7s;
    z-index: 200;
    overflow: hidden;
}

.menuList {
    list-style-type: none;
}

.menuLink {
    font-size: 4.5rem;
    color: var(--primary-colour);
    transition: 0.7s;
}

.menuLink:hover {
    color: white;
    text-decoration: none;
}