.projectRow {
  /* margin-bottom: 180px; */
  /* height: 20vh; */
}

.projectImage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: none;
  transition: 0.8s;
}

.projectImageActive {
  box-shadow: 0px 0px 5px 1px var(--secondary-colour);
}

.projectOverlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.8s;
}

.projectOverlayActive {
  background-color: rgba(255, 255, 255, 0.4);
}

.projectLink {
  padding: 5px 15px;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--secondary-colour);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--secondary-colour);
  opacity: 0;
  transition: 0.5s;
}

.projectLink:hover {
  color: #fff !important;
  background-color: var(--secondary-colour);
  border: 2px solid var(--secondary-colour);
}

.projectLink.focus,
.projectLink:focus {
  box-shadow: none;
}

.projectLinkActive {
  opacity: 1;
}

.projectInformationContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  transition: 0.5s;
  z-index: 10;
}

.rightInactive {
  left: -10%;
}

.rightActive {
  left: -1%;
}

.leftInactive {
  right: -10%;
}

.leftActive {
  right: -1%;
}

.projectInformation {
  padding: 10px;
  background-color: var(--primary-colour);
  box-shadow: 3px 3px 5px var(--secondary-colour);
}

.projectTitleUnderline {
  width: 100%;
  height: 2px;
  background-color: var(--secondary-colour);
}

.projectDescription {
  margin: 0 20px 20px;
}
