.contactIconsContainer {
    padding-top: 20px;
    border-top: 2px solid #41526f;
}

.contactIcon {
    width: 40px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1.8rem;
    color: #5dfdd1;
    background-color: #41526f;
    transition: 0.5s;
}

.contactIcon:hover {
    color: #41526f;
    background-color: #5dfdd1;
}