.contactIconsContainer {
    padding-top: 20px;
    border-top: 2px solid var(--secondary-colour);
}

.contactIcon {
    width: 40px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1.8rem;
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    transition: 0.5s;
}

.contactIcon:hover {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
}